<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/tickets.css">
    <script src="/js/tickets_script.js"></script>
    <title>Tickets</title>
</head>
<body>
    <div class="container">
        <div class="list_links">
            <h1 class="airplane_list color_header">
                <a th:href="@{/ticket_airplane_page}">
                    List of Airplanes
                </a>
            </h1>
            <h1 class="flights_list color_header"> 
                <a th:href="@{/ticket_flight_page}">
                    List of Flights
                </a> 
            </h1>
            <h1 class="tickets_list color_header"> 
                List of Tickets 
            </h1>
            <h1 class="passengers_list color_header"> 
                <a th:href="@{/ticket_passenger_page}">
                    List of Passengers
                </a> 
            </h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="th1 th_border">Ticket ID</th>
                    <th class="th1 th_border">Number</th>
                    <th class="th1 th_border">Seat</th>
                    <th class="th_border">Price</th>
                    <th class="th_border">Passenger</th>
                    <th class="th_border">Flight</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.ticketId}"></td>
                    <td th:text="${ticket.ticketNumber}"></td>
                    <td th:text="${ticket.seatNumber}"></td>
                    <td th:text="${ticket.price}"></td>
                    <td th:text="${ticket.passenger}"></td>
                    <td th:text="${ticket.flight}"></td>
                </tr>
            </tbody>
        </table>
        <div class="actions buttons">
            <div class="create buttons">
                <button class="buttons_action">Create</button>
            </div>
            <div class="edit buttons">
                <button class="buttons_action">Edit</button>
            </div>
            <div class="find buttons">
                <button class="buttons_action">Find</button>
            </div>
            <div class="delete_by_id buttons">
                <button class="buttons_action">Delete by id</button>
            </div>
            <div class="delete buttons">
                <form id="deleteAllTickets" action="ticket_delete_all" method="post">
                    <button type="submit" class="buttons_action">Clear all</button>
                </form>
            </div>
        </div>
        <div id="createModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeCreateModal">&times;</span>
                <h2 class="color_header">Add New Ticket</h2>
                <form id="createTicketsForm" action="ticket" method="post">
                    <div class="input_area">
                        <input class="inputtextarea" type="text" id="ticketNumber" name="ticketNumber" placeholder="Number of ticket:" required><br>
                        <input class="inputtextarea" type="text" id="seatNumber" name="seatNumber" placeholder="Number of seat:" required><br>
                        <input class="inputtextarea" type="text" id="price" name="price" placeholder="Price:" required><br>
                        <input class="inputtextarea" type="number" id="passenger" name="passengerId" placeholder="Passenger's id:" required><br>
                        <input class="inputtextarea" type="number" id="flight" name="flightId" placeholder="Flight's id:" required><br>
                    </div>
                    <button type="submit" class="buttons_action">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
